* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
}


body {
	background: #333333;

	display: flex;
	justify-content: center;
	align-items: center;
}


/* BOARD */

.board {
	width: 200px;
	height: 300px;

	background: #ff5757;
	border-radius: 5px;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);

	grid-column-gap: 2px;
	grid-row-gap: 2px;

}

.btn {
	border: 0;

	font-size: 30px;
}


